@import 'base/var';
@import 'mixin/modules';
@include NotoSansTC();
@include ZenMaruGothic();
@import 'base/reset';

body{
  background-color: map-get($color, mainblue);
  color: map-get($color, fontcolor);
  letter-spacing: 0.05em;
  line-height: 150%;
  position: relative;
  overflow-x: hidden;
}
.mainnav{
  width: 100%;
  height: 40px;
  background: rgba(244, 251, 255, 0.7);
  position: fixed;
  z-index: 3;
  .hb{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    border: 0;
    background-color: transparent;
    span{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      --tb: 16px;
      width: 25px;
      height: 2px;
      border-radius: 5px;
      background-color: map-get($color, fontcolor);
      transition: top .5s .2s,
               bottom .5s .2s, 
               opacity .5s, 
               transform .2s;
    }
    span:first-child{
      top: var(--tb);
      transform: rotate(0deg);
    }
    span:last-child{
      bottom: var(--tb);
      transform: rotate(0deg);
    }
    span:nth-child(2){
      opacity: 1;
    }
  }
  .nav{
    position: absolute;
    top: 40px;
    right: -40%;
    background: rgba(244, 251, 255, 0.7);
    width: 40%;
    height: calc(100vh - 40px);
    z-index: 3;
    ul{
      width: 100%;
      @include flexCenter();
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      li{
        a{
          padding: 30px 20px;
          font-family: 'Comfortaa';
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0.1em;
          font-size: 14px;
          display: block;
          text-decoration: none;
          color: map-get($color, fontcolor);
        }
      }
    }
  }
}

.cover-photo{
  width: 100%;
  height: 400px;
  background-image: url(../img/cover-photo.png);
  background-position: center;
  background-size: cover;
  .logo{
    width: 25%;
    position: relative;
    top: 25%;
    right: 0;
    left: 0;
    margin: auto;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
}
.about{
  max-width: $maxWidth;
  margin: 0 20px;
  .about-pic{
    @include flexCenter();
    flex-direction: column;
    margin-top: 25px;
    .self-img{
    width: 80%;
    margin: auto;
      img{
        width: 100%;
        vertical-align: top;
      }
    }
    .self-name{
      width: 45%;
      margin: 20px auto 40px auto;
      img{
        width: 100%;
        vertical-align: top;
      }
    }
    .language{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .lang{
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 12px solid #BCDEFF;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-family: 'Zen Maru Gothic';  
        font-size: map-get($fontSize, phoneh2);
        letter-spacing: 0.05em;
        .level{
          font-family: 'Noto Sans TC'; 
          font-size: map-get($fontSize, phonep);
          padding-top: 3px;
          line-height: 15px;
        }
      }
    }
    .btn-porfo{
      width: 100%;
      height: 50px;
      background-color: map-get($color, btnblue);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      @include btnBorderR();
      border: 0;
      color: map-get($color, fontcolor);
      margin: 40px 0 60px 0;
      font-size: map-get($fontSize, phoneh3);
      font-family:  Comfortaa;
      letter-spacing: 0.05em;
    }
  }
  .intro-title{
    font-family: 'Zen Maru Gothic';
    font-size: map-get($fontSize, h3);
    font-weight: bold;
  }
  .intro-content{
    font-family: 'Noto Sans TC';
    font-size: map-get($fontSize, phoneh2);
    margin: 10px 0 40px 0;
    line-height: 150%;
  }
}
.title{
  font-size: map-get($fontSize, phoneh1);
  font-family:  Comfortaa;
  color: map-get($color, fontcolor);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.35em;
  margin: 20px 0 10px 0;
}
.subtitle{
  font-family: 'Zen Maru Gothic';
  font-size: map-get($fontSize, phonep);
  text-align: center;
  color: #263D4E;
}
.experiences{
  padding-top: 40px;
  .study-exp{
    margin-top: 40px;
    border-bottom: 1px dashed #263D4E;
    .study{
      max-width: $maxWidth;
      margin: 0 20px;
      .study-title{
        font-family: 'Zen Maru Gothic';
        font-size: map-get($fontSize, h3);
        font-weight: bold;
      }
      .study-period{
        font-family: 'Noto Sans TC';
        font-size: map-get($fontSize, phoneh2);
        margin: 10px 0 30px 0;
      }
    }
  }
  .work-exp{
    max-width: $maxWidth;
    margin: 30px 20px 40px 20px;
    .work-title{
      font-family: 'Zen Maru Gothic';
      font-size: map-get($fontSize, h3);
      font-weight: bold;
    }
    .work-period{
      font-family: 'Noto Sans TC';
      font-size: map-get($fontSize, phoneh2);
      margin: 10px 0;
    }
    .work-content{
      font-family: 'Noto Sans TC';
      font-size: map-get($fontSize, phoneh2);
      margin: 0 0 30px 0;
    }
  }
}
.abilities{
  padding-top: 40px;
  position: relative;
  .abilities-bg{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 8%;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .web-bg{
    display: none;
  }
  .ability{
    max-width: $maxWidth;
    margin: 0 20px;
    width: 80%;
    .trait{
      font-family: 'Zen Maru Gothic';
      font-size: map-get($fontSize, h3);
      font-weight: bold;
      margin: 40px 0 10px 0;
      line-height: 23px;
    }
    .design{
      width: 48%;
    }
    .trait-detail{
      width: 95%;
      font-family: 'Noto Sans TC';
      font-size: map-get($fontSize, phoneh2);
      line-height: 150%;
    }
    .style{
      width: 90%;
    }
  }
  .designstyle{
    margin: 150px 0 0 auto;
  }
  .frontweb{
    margin-top: 150px;
    .trait-detail{
      width: 100%;
    }
  }
}
.works{
  max-width: $maxWidth;
  margin: 150px 0px 0 0px;
  .portfo-title{
    font-family: 'Zen Maru Gothic';
    font-size: 20px;
    text-align: center;
    margin: 40px 20px 10px 20px;
    font-weight: 400;
  }
  .portfo-content{
    font-family: 'Noto Sans TC';
    font-size: map-get($fontSize, phoneh2);
    line-height: 150%;
    letter-spacing: 0.05em;
    margin: 0 20px 30px 20px;
  }
  .portfo-cover{
    width: 100%;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .portfo-detail{
    max-width: $maxWidth;
    margin: 0 20px;
    display: flex;
      flex-direction: column-reverse;
      .website{
        width: 150px;
        height: 40px;
        @include btnBorderR();
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: map-get($color, btnblue);
        border: 0;
        align-self: flex-end;
        transform: translateY(-25px);
        font-family: 'Zen Maru Gothic';
        font-size: map-get($fontSize, phoneh3);
        line-height: 20px;
        letter-spacing: 0.05em;
      }
      .bobio{
        transform: translateY(-40px);
      }
    .double-diamond{
      .stepicon{
        display: flex;
        align-items: center;
        .steptitle{
          font-family: 'Zen Maru Gothic';
          font-size: map-get($fontSize, h3);
          font-weight: 700;
          margin-left: 5px;
        }
      }
      .stepdetail{
        font-family: 'Noto Sans TC';
        font-size: map-get($fontSize, phoneh2);
        line-height: 150%;
        letter-spacing: 0.05em;
        margin: 10px 0px 40px 0px;
      }
    }
  }
}
button{
  cursor: pointer;
}
footer{
  background-image: url(../img/footer.svg);
  background-size: cover;
  background-position: center;
  height: 120px;
  .contact{
    display: flex;
    max-width: $maxWidth;
    margin: 0 20px;
    justify-content: space-around;
    padding-top: 60px;
    .contact-detail{
      display: flex;
      align-items: center;
      text-decoration: none;
      &.phone{
        display: none;
      }
      &.github{
        display: none;
      }
      .icon{
        width: 8px;
        margin-right: 5px;
        img{
          width: 100%;
          vertical-align: center;
        }
      }
      .detail{
        font-size: 8px;
      }
    }
  }
  .copyright{
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .copy{
      width: 8px;
      img{
        width: 100%;
        vertical-align: center;
      }
    }
  }
}
@media screen and (min-width: 376px) {
  .abilities{
    .abilities-bg{
      display: none;
    }
    .ability{
      width: 100%;
      margin: 0 20px;
      .trait{
        margin: 100px 0 15px 0;
        line-height: 35px;
      }
      .design{
        width: 100%;
      }
      .trait-detail{
        width: 95%;
      }
      .style{
        width: 100%;
      }
    }
    .designstyle{
      margin-right: 0px;
    }
    .frontweb{
      margin-top: 100px;
      .trait-detail{
        width: 95%;
      }
    }
  }
}
@include tabletV(){
  .mainnav ul{
    right: -20%;
    width: 20%
  }
  .cover-photo{
    .logo{
      width: 20%;
    }
  }
  .title{
    font-size: map-get($fontSize, h1);
    margin: 50px 0;
  }
  .subtitle{
    font-size: map-get($fontSize, h2);
  }
  .about{
    max-width: $maxWidth;
    margin: 0 50px;
    .about-pic{
      .language{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .lang{
          width: 150px;
          height: 150px;
          border: 20px solid #BCDEFF; 
          font-size: map-get($fontSize, h2);
          .level{
            font-size: map-get($fontSize, h3);
            padding-top: 10px;
            line-height: 20px;
          }
        }
      }
      .btn-porfo{
        width: 100%;
        height: 80px;
        border-radius: 20px;
        margin: 60px 0 100px 0;
        font-size: map-get($fontSize, h3);
        letter-spacing: 0.05em;
      }
    }
    .intro-title{
      font-size: map-get($fontSize, h2);
    }
    .intro-content{
      font-size: map-get($fontSize, h2);
      margin: 15px 0 40px 0;
    }
  }
  .experiences{
    padding-top: 100px;
    .study-exp{
      margin-top: 80px;
      .study{
        margin: 0 50px;
        .study-title{
          font-size: map-get($fontSize, h2);
        }
        .study-period{
          font-size: map-get($fontSize, h2);
          margin: 20px 0 40px 0;
        }
      }
    }
    .work-exp{
      max-width: $maxWidth;
      margin: 30px 50px 40px 50px;
      .work-title{
        font-size: map-get($fontSize, h2);
      }
      .work-period{
        font-size: map-get($fontSize, h2);
        margin: 30px 0 10px 0;
      }
      .work-content{
        font-size: map-get($fontSize, h2);
        line-height: 150%;
        letter-spacing: 0.05em;
        margin: 0 0 40px 0;
      }
    }
  }
  .abilities{
    .ability{
      max-width: $maxWidth;
      margin: 0 50px;
      width: 85%;
      .trait{
        font-size: map-get($fontSize, h2);
        margin: 100px 0 15px 0;
        line-height: 35px;
      }
      .design{
        width: 80%;
      }
      .trait-detail{
        width: 100%;
        font-family: 'Noto Sans TC';
        font-size: map-get($fontSize, h2);
        line-height: 150%;
        letter-spacing: 0.05em;
      }
      .style{
        width: 100%;
      }
    }
    .designstyle{
      margin-right: 0px;
    }
    .frontweb{
      margin-top: 100px;
      .trait-detail{
        width: 100%;
      }
    }
  }
  .works{
    .portfo-title{
      font-size: 48px;
      margin: 100px 50px 45px 50px;
      font-weight: 500;
    }
    .portfo-content{
      font-size: map-get($fontSize, h2);
      margin: 0 50px 50px 50px;
    }
    .portfo-detail{
      max-width: $maxWidth;
      margin: 0 50px;
      .website{
        width: 250px;
        height: 80px;
        border-radius: 20px;
        transform: translateY(-50px);
        font-size: map-get($fontSize, h3);
        line-height: 26px;
      }
      .bobio{
        transform: translateY(-80px);
      }
      .double-diamond{
        .stepicon{
          .steptitle{
            font-size: map-get($fontSize, h2);
          }
        }
        .stepdetail{
          font-size: map-get($fontSize, h2);
        }
      }
    }
  }
  footer{
    height: 180px;
    .contact{
      padding-top: 100px;
      .contact-detail{
        &.phone{
          display: flex;
        }
        &.github{
          display:flex;
        }
      }
    }
    .copyright{
      margin-top: 20px;
    }
  }
}
@include tabletH(){
  .mainnav ul{
    right: -15%;
    width: 15%
  }
  .cover-photo{
    height: 500px;
    .logo{
      width: 15%;
    }
  }
  .portfo-detail{
    .double-diamond{
      .bobio{
        transform: translateY(-100px);
      }
    }
  }
  footer{
    height: 220px;
    .contact{
      padding-top: 100px;
      .contact-detail{
        .icon{
          width: 30px;
          margin-right: 10px;
        }
        .detail{
          font-size: 16px;
        }
      }
    }
    .copyright{
      margin-top: 30px;
      .copy{
        width: 25px;
        margin-right: 10px;
        img{
          vertical-align: top;
        }
      }
      .right{
        font-size: 16px;
      }
    }
  }
}
@include laptop(){
  .cover-photo{
    height: 600px;
    .logo{
      width: 12%;
      z-index: 3;
    }
  }
  .about{
    max-width: $maxWidth;
    margin: auto;
    .about-content{
      display: flex;
      margin-top: 100px;
      .about-pic{
        margin: auto;
        width: 45%;
      }
      .about-me{
        width: 45%;
      }
    }
  }
  .experiences{
    padding-top: 40px;
    max-width: $maxWidth;
    margin: auto;
    .exp-bg{
      display: flex;
      align-items: center;
      width: 1200px;
      height: 1200px;
      background-color: map-get($color, mainblue);
      box-sizing: border-box;
      border: 75px solid #BCDEFF;
      border-radius: 50% 0 50% 50%;
      margin-top: 90px;
      position: relative;
      z-index: -2;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      &::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: map-get($color, mainblue);
        border-radius: 50% 0 50% 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        bottom: 0;
        z-index: 3;
      }
      &::after{
        content: "";
        position: absolute;
        width: 25px;
        height: 80%;
        background-image: url(../img/Arrow.svg);
        background-size: contain;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 3;
      }
      .study-exp{
        margin: 0px auto;
        border-bottom: 0px;
        width: 45%;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          top: -223.5%;
          right: -26px;
          width: 525px;
          height: 1050px;
          background-color: #DCEEFF;
          border-radius: 525px 0 0 525px;
          z-index: -1;
        }
        .study{
          margin: 0px;
          text-align: right;
          &.uni{
            transform: translateY(-50px);
          }
          &.tibame{
            transform: translateY(50px);
          }
        }
      }
      .work-exp{
        width: 45%;
        max-width: $maxWidth;
        margin: 30px auto 40px auto;
        .work{
          width: 95%;
        }
      }
    }
  }
  .abilities{
    .web-bg{
      display:initial;
      position: absolute;
      top: 10%;
      z-index: -1;
      img{
        width: 100%;
      }
    }
    .ability{
      width: 45%;
      margin-right: auto;
      padding-left: 100px;
      .trait{
        margin: 150px 0 10px 0;
      }
      .design{
        width: 48%;
      }
      .trait-detail{
        width: 95%;
      }
      .style{
        width: 90%;
      }
    }
    .designstyle{
      margin: 250px 0 0 auto;
      padding-left: 0px;
      padding-right: 100px;
    }
    .frontweb{
      margin-top: 350px;
      .trait-detail{
        width: 100%;
      }
    }
  }
  .works{
    max-width: 100%;
    margin: 150px auto 0 auto;
    padding-top: 150px;
    .portfo-content{
      max-width: $maxWidth;
      margin: 0 auto 30px auto;
    }
    .portfo-cover{
      width: 100%;
      img{
        width: 100%;
        vertical-align: top;
      }
    }
    .portfo-detail{
      max-width: $maxWidth;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      .website{
        align-self: flex-start;
        transform: translateY(-80px);
        &.bobio{
          transform: translateY(-120px);
        }
      }
      .double-diamond{
        width: 70%;
        margin-right: 15%;
      }
    }
  }
  footer{
    height: 250px;
  }
}
@media screen and (min-width:1440px){
  .mainnav{
    width: 80px;
    height: 100vh;
    background: rgba(244, 251, 255, 0.7);
    position: fixed;
    right: 0;
    z-index: 3;
    border-left: 5px solid #D3E9FF;;
    .hb{
      display: none;
    }
    .nav{
      right: 40%;
      height: 80px;
      background-color: transparent;
      ul{
        display: initial;
        li{
          a{
            display: block;
            margin: 100px 0;
            font-weight: 700;
            font-size: 16px;
            width: 200px;
            transform: rotate(-90deg);
            text-align: center;
            position: relative;
            left: -300%;
            top: 100px;
            // &::before{
            //   content: ""; 
            //   position: absolute;
            //   width: 8px;
            //   height: 30px;
            //   background-color: #BCDEFF;
            //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            //   border-radius: 5px;
            //   right: 50%;
            //   top: -22px;
            // }
          }
        }
      }
    }
  }
  .navline::before{
    content: ""; 
    position: absolute;
    width: 8px;
    height: 30px;
    background-color: #BCDEFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    right: 50%;
    top: -22px;        
  }
  footer{
    height: 300px;
    .contact{
      padding-top: 150px;
      margin: auto;
    }
    .copyright{
      margin-top: 50px;
    }
  }
}